.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-bar input::placeholder {
  color: lightgray;
}

.search-bar input {
  border-radius: 10px;
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 0px 10px 15px;
  margin-right: 25px;
  font-size: 18px;
  flex: 1;
}
